* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

header {
  text-align: center;

  border: 2px solid black;
  height: 15rem;
}

h1 {
  font-size:5rem;
}
nav {
  border: 4px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10rem;
 
  
}

#navList {
  width: 100%;
  display: flex;
  justify-content: space-around;
  list-style: none;
  font-size: 3rem;
}

#mainList {
  padding: 0;
}

#mainList > li {
  display: flex;
  height: 8rem;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  margin-top: 4rem;
  font-size: 3rem;

}

#mainHome {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#imgBox{
 width: 100%;
}
#thumb {
  width: 100%;
  padding-top : 20px
}

#acc {
  width: 100%;
  text-align: center;
  font-size: 2.8rem;
  
}
